<div class="center hero-unit">
<% provide(:title,'SysManagement') %>

<h1>欢迎来到易百事内部评分系统</h1>

<div>	
	<div class="form-group">
		<input type="button" class="btn btn-large btn-success" id="opensystem" value="创建评分记录">
	</div>
	<div class="form-group">
		<input type="button" class="btn btn-large btn-info" id="result" value="查看评分结果" onclick="javascript:window.location.href='/sys/result'">
	</div>
	<div class="form-group">
		<input type="button" class="btn btn-large btn-primary" id="peopleinfo" value="系统人员管理" onclick="javascript:window.location.href='/sys/info'">
	</div>

	<script type="text/javascript">
	$("#opensystem").click(function(){
		$.ajax({
		url: '/sys/new',
		type: 'post',
		dataType: 'json',
		success: function(xhr){
			if(xhr["message"])
				alert(xhr["message"])
			else
				alert("创建成功！");
		},
		error: function(){
			alert("创建失败！");
		}
	  })
	})

	</script>
</div>
